.component {
  /* min-width/height to make single digit a perfect circle */
  min-width: 24px;
  height: 24px;
  /* border-radius = height/2 makes a pill shape for multi-digits */
  border-radius: 12px; /* half the height */

  /* grid centering for digits to be centered */
  display: grid;
  align-content: center;
  justify-content: center;

  background-color: rgb(160, 48, 212);
  color: white;

  font-weight: 700;
  font-size: 0.8rem;
}
