.component {
  display: grid;
  align-items: center;
  justify-items: center;

  height: 100svh;
  background-color: #e6e6e6;

  position: relative;
}

.roundBox {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 16px;
  background-color: white;

  box-sizing: border-box;
}

/* .inner > *:nth-child(2) {
  transform: translate(50%, -50%);
  animation-name: move;
  animation-duration: 2s;
  /* transform-origin: center; */

@keyframes move {
  0% {
    transform: translate(0%, 0%);
  }
  80% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(50%, -50%);
  }
}
